/*
#f61068 pink
#2b2d42 blue
#8d99af light gray
#004765 another blue
*/

/*.navbar{
	float: left;
}*/
body {
	margin: 0;
	font-family: 'Encode Sans', sans-serif;
}
h1{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0;
}
.container{
	margin-left: 1.5em;
}
.lista_cursos{
	background-color: #8d99af;
}
.body{
	padding: 2%;
	margin-top: 2%;
	height: 100%;

}
.propaganda{
	background-color: #8d99af;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
} 

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;

}
.navbar li {
    float: left;
}
th, td {
    padding: 15px;
    text-align: justify;
}
th{
	text-align: center;
}
table{
	border-collapse: collapse;
}

ul{
	list-style-type: none;
	margin-top: 0;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
h3{text-align:center;
background-color:#F0F9EC;
} 
