/*
#f61068 pink
#2b2d42 blue
#8d99af light gray
#004765 another blue
*/

/*.navbar{
	float: left;
}*/
* {
    box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Encode Sans', sans-serif;
}
h1{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0;
}
.container{
	margin-left: 1.5em;
}

.body{
	padding: 2%;
	margin-top: 2%;
    height: 100%;
    margin: 8%;

}
.propaganda{
    background-color: #F0F9EC;
    border-radius: 7%;
    margin-top: 1em;
}

.propaganda h1{
    color: #004766;
    border-bottom: 1px groove #f61067;
    border-radius: 100px;
}

.propaganda p{
    margin-left: 40%;
    margin-right: 40%;
    border-bottom: 1px groove #f61067;
    border-radius: 100px;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}

.navbar{
    position: absolute;
    z-index: 100;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 4px;
    padding-top: 10px;
    overflow: hidden;
    background-color: #2b2d42;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px groove #f61067;
    border-radius: 10px;
    margin-top: -1%;
} 

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;

}
.navbar li {
    float: left;
}
th, td {
    padding: 15px;
    text-align: justify;
}
th{
	text-align: center;
}
table{
	border-collapse: collapse;
}

ul{
	list-style-type: none;
	margin-top: 0;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 5px;
}

.img_curso {
    width: 15%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: 1px groove #f61067;
    margin-left: 1em;
    background-color: #F0F9EC;
    position: absolute;
}
.conteudo_curso{
    float: right;
    width: 80%;
    text-align: center;
    border: 2px groove #004766;
    margin-top: 2em;
    margin-left: 10%;
    line-height: 150%;
    
}

.lista_cursos{
    display: table;
    width: 90%;
}


.footer{
    text-align: center;
    background-color: #2b2d42;
    border-top: 1px groove #f61067;
    border-radius: 3px;
    color: white;
    padding: 0;
    position: flex;
    overflow: hidden;
}

.footer p{
    margin-top: 5px;
    padding: 0;
}

.lista_cursos a{
    text-decoration: none;
    color: black;
}

.conteudo_curso:hover{
    background-color: #A9AFB9;
    border: 2px groove #f61067;
}

.curriculo{
    text-decoration: underline;
}

.sobre{
    width: 100%;
    background-color: #E8F8DF;
    /*margin-left: 10%;*/
    line-height: 150%;
    text-align: center;
    border-left: 2px outset #004766;
    border-bottom: 2px outset #004766;
}

.img_aluno{
    width: 10%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: 1px groove #f61067;
    position: absolute;
    margin-top: 10px;
    margin-left: 90px;
    background-color: #F0F9EC;
}

.depoimento{
    float: right;
    width: 70%;
    text-align: center;
    border: 2px groove #004766;
    margin-right: 10%;
    margin-top: 6%;
    padding: 5px;
}

.depoimento p{
    padding: 5px;
}

.ex_alunos{
    display: table;
    width: 100%;
    background-color: #F5F9F4;
}

.ex_alunos h3{
    border-bottom: 1px groove #f61067;
    width: 49%;
    margin-right: 80%;
}

.conteudo_noticia{
    width: 75%;
    text-align: justify;
    margin-left: 8%;
    border-right: 2px groove #004766;
    border-bottom: 2px groove #004766;
    padding-right: 7px;
    line-height: 175%;
}

.feed_noticias h3{
    border-bottom: 1px groove #f61067;
    /*margin-right: 30%;*/
    margin-left:18%;
    margin-right: 25%;
    position: absolute;
    margin-top: 7%;
}

.img_noticia{
    width: 18%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: 1px groove #f61067;
    margin-left: 3%;
}