/*
#f61068 pink
#2b2d42 blue
#8d99af light gray
#004765 another blue
*/

/*1037x662*/

* {
    box-sizing: border-box;
}
body {
    color: white;
	margin: 0;
    font-family: 'Encode Sans', sans-serif;
    background-color: black;
}
h1{
	text-align: center;
	margin-top: 1em;
	margin-bottom: 0;
}
.container{
	margin-left: 1.5em;
}

.body{
	padding: 0% 2% 0% 2%;
	height: 100%;
    margin: 6% 8% 6% 8%;
}
.propaganda img{
    width: 100%;
    border-bottom: 1px groove #f61067;
}
.navbar{
    position: absolute;
    z-index: 100;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    overflow: hidden;
    background-color:black;
    top: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px groove #f61067;
    margin-top: -1%;
    height: 100px;
    position: fixed;
    padding-left: 0;
} 
.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    height: 100%;
    padding-top: 35px;
    padding-left: 10px;
}
.navbar li {
    float: right;
    height: 100%;
}
.navbar img{
    height: 4.5em;
    float: left;
    margin-left: 1em;
    padding-top: 1em;
}
ul{
	list-style-type: none;
	margin-top: 0;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
  width: 100%;
  height: 100%;
}
.cursos_geral{
    display: table;
    width: 100%;
}
.cursos_geral h3{
    font-size: 22px;
    color: #f61067;
    line-height: 150%;
    width: 60%;
    margin-right: 80%;
}
.img_curso {
    color: black;
    width: 15%;
    text-align: center;
    font-size: smaller;
    text-indent: 0;
    border: 1px groove #f61067;
    margin-left: 1em;
    background-color: white;
    position: absolute;
}
.conteudo_curso{
    float: right;
    width: 80%;
    text-align: center;
    border: 1px groove #f61067;
    margin-top: 2em;
    margin-left: 10%;
    line-height: 150%;
}
.conteudo_curso p{
    color: white;
}
.conteudo_curso p a{
    color: white;
}
.lista_cursos{
    display: table;
    width: 90%;
}
.footer{
    text-align: center;
    background-color: black;
    border-top: 1px groove #f61067;
    color: white;
    padding: 0;
    position: flex;
    overflow: hidden;
}
.footer p{
    margin-top: 5px;
    padding: 0;
}
.lista_cursos a{
    text-decoration: none;
    color: black;
}
.conteudo_curso:hover{
    background-color: #A9AFB9;
    border: 2px groove #f61067;
}
.curriculo{
    text-decoration: underline;
}
.sobre{
    color: white;
    width: 100%;;
    /*margin-left: 10%;*/
    line-height: 150%;
    text-align: justify;
}
.sobre h3{
    font-size: 22px;
    color: #f61067;
}
.img_aluno{
    color: black;
    width: 10%;
    text-align: center;
    font-size: smaller;
    text-indent: 0;
    border: 1px groove #f61067;
    position: absolute;
    margin-top: 10px;
    margin-left: 90px;
    background-color:white;
}
.depoimento{
    color: white;
    float: right;
    width: 70%;
    text-align: center;
    border: 1px groove #f61067;
    margin-right: 10%;
    margin-top: 6%;
    padding: 5px;
}
.noticia {
    color: white;
	width: 100%;
    text-align: center;
    border: 1px groove #f61067;
    padding: 10px;
}
.noticia p {
	text-align: justify;
}
.noticia img{
	text-align: center;
}
.depoimento p{
    padding: 5px;
}
.ex_alunos{
    display: table;
    width: 100%;
}
.ex_alunos h3{
    font-size: 22px;
    color: #f61067;
    line-height: 150%;
    width: 60%;
    margin-right: 80%;
}
.conteudo_noticia{
    width: 75%;
    text-align: justify;
    margin-left: 8%;
    border-right: 2px groove #004766;
    border-bottom: 2px groove #004766;
    padding-right: 7px;
    line-height: 175%;
}
.feed_noticias h3{
    border-bottom: 1px groove #f61067;
    /*margin-right: 30%;*/
    margin-left:18%;
    margin-right: 25%;
    position: absolute;
    margin-top: 7%;
}
.img_noticia{
    width: 18%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    border: 1px groove #f61067;
    margin-left: 3%;
}
.disciplinas{
    display: table;
    width: 100%;
}
.disciplinas h3{
    font-size: 22px;
    color: #f61067;
    line-height: 150%;
    width: 60%;
    margin-right: 80%;
}
.disciplinas h4{
    text-align:center;
    background-color:#f61067;
} 
.informacoes_basicas{
    display: table;
    width: 100%;
}
.informacoes_basicas h3{
    font-size: 22px;
    color: #f61067;
    line-height: 150%;
    width: 60%;
    margin-right: 80%;
}
.informacoes_basicas img{
	height: 100px;	
}
.informacoes_basicas{
	margin-top-:20px;
}
@media only screen and (max-width: 1056px){
    .navbar img{
        height: 3.1em;
        padding-top: 0.5em;
    }
    .navbar li a {
        font-size: 10px;
        padding: 0;
        padding: 20px;
    }
    .navbar ul {
        height: 70px;
    }

    .img_aluno{
        width: 25%;
        margin-left: 0;
    }
    .depoimento { 
        margin: 22% 15% 15% 15%;
        padding: 5%;
    }
}
@media only screen and (max-width: 760px){
    .depoimento { 
        margin: 0;
        padding: 10% 1% 0% 1%;
        margin: 28% 10% 10% 0%;
    }
    .depoimento p{
        text-align: justify;
    } 
    .navbar img{
        height: 2.8em;
    }
    .img_aluno{
        width: 50%;
    }
    .body{
        padding-top: 5%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 0;
    }
    .ex_alunos h3{
        width: 100%;
    }
}